<% if current_user && is_admin? %>
<div class="well">
    <div class="container-fluid">
        <%= simple_form_for([@university, @university.students.build]) do |f| %>
        <div class="well">
            <h4>Create a Student:</h4>
            <form role="form">
                <div class="form-group">
                    <p><%= f.input :student_id, :placeholder => 'Student ID', label: false %></p>
                </div>
                <%= f.submit "Create Student", class: "pull-right btn btn-primary" %>
            </form>
        </div>

        <% end %>
    </div>
</div>
<% end %>
