<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
    <div id="events">
        <%= render @events %>
    </div>
    <div id="infinite-scrolling">
        <%= will_paginate %>
    </div>
</div>


<script>
$('#events').append('<%= j render @events %>');
</script>
<% if @events.next_page %>
<script>
  $('.pagination').replaceWith('<%= j will_paginate @events %>');
  </script>
<% else %>
<script>
  $(window).off('scroll');
  $('.pagination').remove();
  </script>
<% end %>
