<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
    <div id="events">
        <%= render @events %>
    </div>
    <div>
        <%= will_paginate %>
    </div>
</div>
