#sidebar {
    background-color: white;
    height: 100%;
    position: fixed;
    left: 0.25em;
    width: 16.67%;
    overflow-y:auto;
    word-wrap: break-word;
    z-index: 999;
}

.sidebar-brand {
    color: black;
    text-align: center;
}

.social-midsection {
    height: auto;
    background-color: white;
}

.social-container {
    display: inline-block;
    vertical-align: bottom;
    float: none;
    width: 100%;
    height:auto;

}
#sidebar li {
    list-style-type: none;
    width: 100%;
}

#sidebar li a {
    width: 100%;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    color: black;

}
.sidebar-profile {
  border-radius:50%;
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.sidebar-center {
  margin-left: auto;
  margin-right: auto;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
